*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: silver;
    padding: 20px;
}

#input {
    height: 40px;
    width: 500px;
    border: 2px solid teal;
    font-size: 20px;
    padding-left: 20px;
    color: rebeccapurple;
}

#create_button{
    width: 200px;
    height: 40px;
    border: 2px solid teal;
    font-size: 20px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
}
.todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
    justify-content: space-between;

}

#todo_list{
    margin: 0 auto;
    width: 750px;
}

.block_text{
    width: 100%;
    border: 2px solid teal;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

h3{
    font-size: 30px;
    font-family: monospace, sans-serif;
}

.delete_button{
    width: 150px;
    height: 40px;
    border: 2px solid teal;
    cursor: pointer;
    background: red;
    font-size: 22px;
    color: white;
    cursor: pointer;

}
.edit_button{
    width: 150px;
    height: 40px;
    border: 2px solid teal;
    cursor: pointer;
    background: yellow;
    font-size: 22px;
    color: black;
    cursor: pointer;
}

.divs_button{
    display: flex;
    justify-content: space-between;
    width: 350px;
}